head
  meta(charset='utf-8')
  block title
    title Stephan Bönnemann
  meta(name='description', content='Stephan Bönnemann – Co-Founder of excellenteasy – I\'m a web-enthusiast.')
  meta(name='viewport', content='width=device-width')
  link(rel='publisher', href='https://plus.google.com/+StephanBönnemann')
  include ./favicon
  // build:css(.tmp) styles/main.css
  link(rel='stylesheet', href='styles/main.css')
  block styles
  // endbuild
