#foo
  p
    span
      a(href="http://twitter.com/thezereza") ❤
    br
    span
      a(href="https://keybase.io/boennemann/key.asc", title) gpg
    br
    span
      a(href="/me.vcf", title) vcard
    br
    span
      a(href="http://excellenteasy.com/legal", title) legal
