#intro
  p
    span I 
      a(href="http://lanyrd.com/profile/boennemann/", title) talk 
    br
    span I 
      a(href="https://twitter.com/boennemann", title) tweet 
    br
    span I 
      a(href="https://foursquare.com/boennemann", title) check-in 
    br
    span I write 
      a(href="https://github.com/boennemann", title) code 
    br
    span I take 
      a(href="https://instagram.com/boennemann", title) photos 
    br 
    span I organize 
      a(href='https://conc.at', title='') conc.at
    br
    span I contribute to 
      a(href='http://hood.ie.', title='') hood.ie
    br
    span I maintain 
      a(href='http://bradypodion.io.', title='') bradypodion.io
    br
    span I learn at 
      a(href='http://fh-salzburg.ac.at.', title='') fh-salzburg.ac.at
    br 
    span I work at 
      a(href='http://excellenteasy.com.', title='') excellenteasy.com
  h1 Stephan Bönnemann
